In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import sidetable

In [5]:
df = pd.read_csv('./datos/HU2.csv', index_col=0)

In [6]:
df.head()

,index,q3,q5,q6,q8,q11,q13,q15,q23,q33,...,q27,q29,q30,q31,q36,q37,q38,q39,q40,q42
0,0,India,Other,5-10 years,Python,A laptop,2-5 times,5-10 years,No (we do not use ML methods),NaN,...,"Google Cloud Platform (GCP) ,","Google Cloud Compute Engine ,","Google Cloud Storage (GCS) ,","No / None,","No / None,",NaN,"No / None,","GitHub , Kaggle ,","Coursera,edX,Kaggle Learn Courses,DataCamp,Uda...","Email newsletters (Data Elixir, O'Reilly Data ..."
1,1,Indonesia,Program/Project Manager,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,< 1 year,We are exploring ML methods (and may one day p...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Kaggle Learn Courses,Cloud-certification progr...","Journal Publications (peer-reviewed journals, ..."
2,2,Pakistan,Software Engineer,1-3 years,Python,A laptop,Never,I do not use machine learning methods,I do not know,MySQL,...,"None,",NaN,NaN,"DataRobot,","No / None,",NaN,"No / None,","I do not share my work publicly,","DataCamp,","Kaggle (notebooks, forums, etc),YouTube (Kaggl..."
3,3,Mexico,Research Scientist,20+ years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",More than 25 times,5-10 years,I do not know,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Coursera,edX,","YouTube (Kaggle YouTube, Cloud AI Adventures, ..."
4,4,India,Other,< 1 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Never,10-20 years,We use ML methods for generating insights (but...,NaN,...,"Microsoft Azure ,","Microsoft Azure Virtual Machines ,","Microsoft Azure Data Lake Storage ,","Azure Machine Learning Studio ,","No / None,",NaN,"Weights & Biases ,","I do not share my work publicly,","Kaggle Learn Courses,Udemy,","Journal Publications (peer-reviewed journals, ..."

In [8]:
df['q5'].unique()

array(['Other', 'Program/Project Manager', 'Software Engineer',
       'Research Scientist', 'Currently not employed', 'Student',
       'Data Scientist', 'Data Analyst', 'Machine Learning Engineer',
       'Business Analyst', 'Data Engineer', 'Product Manager',
       'Statistician', 'Developer Relations/Advocacy',
       'DBA/Database Engineer'], dtype=object)

In [9]:
df_analyst = df[df['q5']=='Data Analyst']

In [10]:
df_analyst

,index,q3,q5,q6,q8,q11,q13,q15,q23,q33,...,q27,q29,q30,q31,q36,q37,q38,q39,q40,q42
16,16,Belgium,Data Analyst,20+ years,Python,A laptop,Never,1-2 years,We are exploring ML methods (and may one day p...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Coursera,Kaggle Learn Courses,Cloud-certificat...","Kaggle (notebooks, forums, etc),Blogs (Towards..."
32,32,United States of America,Data Analyst,< 1 years,R,A personal computer / desktop,Never,I do not use machine learning methods,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33,Egypt,Data Analyst,3-5 years,R,A laptop,Never,I do not use machine learning methods,No (we do not use ML methods),NaN,...,"None,",NaN,NaN,"No / None,","No / None,",NaN,"No / None,","I do not share my work publicly,","Coursera,Kaggle Learn Courses,DataCamp,Univers...","Twitter (data science influencers),Email newsl..."
46,46,China,Data Analyst,< 1 years,Python,A personal computer / desktop,2-5 times,1-2 years,No (we do not use ML methods),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Coursera,edX,Kaggle Learn Courses,","Twitter (data science influencers),Kaggle (not..."
52,52,South Africa,Data Analyst,1-3 years,R,A laptop,Never,1-2 years,No (we do not use ML methods),NaN,...,"IBM Cloud / Red Hat ,",NaN,NaN,"No / None,","No / None,",NaN,"No / None,","I do not share my work publicly,","Coursera,Udemy,","Course Forums (forums.fast.ai, Coursera forums..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25954,25954,India,Data Analyst,< 1 years,Python,A laptop,Never,1-2 years,We are exploring ML methods (and may one day p...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Coursera,",NaN
25959,25959,India,Data Analyst,1-3 years,Python,A personal computer / desktop,Never,< 1 year,We are exploring ML methods (and may one day p...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Coursera,edX,Udacity,Udemy,Cloud-certification...","Twitter (data science influencers),Email newsl..."
25965,25965,India,Data Analyst,1-3 years,Python,A personal computer / desktop,2-5 times,2-3 years,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25966,25966,India,Data Analyst,1-3 years,Python,"A cloud computing platform (AWS, Azure, GCP, h...",Once,1-2 years,"We have well established ML methods (i.e., mod...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25968,25968,Egypt,Data Analyst,1-3 years,Python,A laptop,Never,1-2 years,We are exploring ML methods (and may one day p...,MongoDB,...,"Amazon Web Services (AWS) , Microsoft Azure ,","Amazon Elastic Compute Cloud (EC2) , Microsof...","Amazon Simple Storage Service (S3) , Amazon ...","Amazon SageMaker , Databricks,","No / None,",NaN,"TensorBoard ,","GitHub , Colab ,","Coursera,Kaggle Learn Courses,DataCamp,Udacity...","Kaggle (notebooks, forums, etc),YouTube (Kaggl..."

In [11]:
df.to_csv('./datos/data_analyst.csv')